migrations/versions/__pycache__/dbf80a236075_.cpython-311.pyc
migrations/versions/__pycache__/aee2602a55fe_.cpython-311.pyc
migrations/versions/__pycache__/38136edc9b75_connection.cpython-311.pyc
migrations/versions/__pycache__/6064ee751e53_.cpython-311.pyc
migrations/versions/__pycache__/5cb2b6d1c167_new.cpython-311.pyc
migrations/versions/__pycache__/3b0ad720fd3f_.cpython-311.pyc
migrations/__pycache__/env.cpython-311.pyc
app/__pycache__/views.cpython-311.pyc
app/__pycache__/models.cpython-311.pyc
app/__pycache__/forms.cpython-311.pyc
app/__pycache__/__init__.cpython-311.pyc
migrations/versions/__pycache__/4277646c102b_.cpython-311.pyc
migrations/versions/__pycache__/c7987d38b3b8_.cpython-311.pyc
migrations/versions/c7987d38b3b8_.py
migrations/versions/4277646c102b_.py
