{% extends 'admin_base.html' %}

{% block title %}
    Add Product
{% endblock %}

{% block content %}
    <h2>Add New Product</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.price.label }}<br>
            {{ form.price(class="form-control") }}<br>
            {% for error in form.price.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.ingridients.label }}<br>
            {{ form.ingridients(class="form-control") }}<br>
            {% for error in form.ingridients.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.size.label }}<br>
            {{ form.size(class="form-control") }}<br>
            {% for error in form.size.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.mass.label }}<br>
            {{ form.mass(class="form-control") }}
            {% for error in form.mass.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}