{% extends 'admin_base.html' %}

{% block title %}
    Admin Orders
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <table class="table" style="width: 85%" border="1" id="ordertable">
        <thead class="thead-dark">
            <tr>
                <th onclick="sortTable(0)">ID</th>
                <th onclick="sortTable(1)">Time</th>
                <th onclick="sortTable(2)">Check</th>
                <th onclick="sortTable(3)">Status</th>
                <th onclick="sortTable(4)">Person ID</th>
                <th onclick="sortTable(5)">Address</th>
                <th onclick="sortTable(6)">Comment</th>
                <th onclick="sortTable(7)">Author</th>
            </tr>
        </thead>

        {% for order in orders %}
        <tr>
            <td>{{ order.id_order }}</td>
            <td>{{ order.time }}</td>

            <td><a class="btn btn-info" href="#" onclick="getOrderCheck({{ order.id_order }})">{{ order.check }}</a></td>
            <td>
                <select onchange="changeOrderStatus(this.value, {{ order.id_order }})">
                    <option value="Принято" {% if order.status == 'Принято' %} selected {% endif %}>Принято</option>
                    <option value="Готовится" {% if order.status == 'Готовится' %} selected {% endif %}>Готовится</option>
                    <option value="Доставляется" {% if order.status == 'Доставляется' %} selected {% endif %}>Доставляется</option>
                    <option value="Доставлено" {% if order.status == 'Доставлено' %} selected {% endif %}>Доставлено</option>

                </select>
            </td>
            <td>{{ order.id_person }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.comment }}</td>
            <td>{{ order.author.name }}</td>
            <td>
                <a class="btn btn-danger" href="#" onclick="deleteOrder({{ order.id_order }})">Delete</a>

            </td>
        </tr>
        {% endfor %}
    </table>

</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        setInterval(function(){
            $(document).load('/admin/orders');
            }, 30000) 
    </script>
    <script>
        function getOrderCheck(orderId) {
            var xhr = new XMLHttpRequest();
            var url = '/admin/orders/' + orderId + '/check';
            window.location = url;
        }

        function changeOrderStatus(newStatus, orderId) {
            var xhr = new XMLHttpRequest();
            var url = '/admin/orders/update_status/' + orderId + '/' + newStatus;
            xhr.open('GET', url, true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    window.location.href = '/admin/orders';
                } else {
                    console.error('Failed to change order status');
                }
            };
            xhr.send();
        }

        function deleteOrder(orderId) {
        var xhr = new XMLHttpRequest();
        var url = '/admin/orders/delete/' + orderId;
        xhr.open('GET', url, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                window.location.href = '/admin/orders';
            } else {
                console.error('Failed to delete order');
            }
        };
        xhr.send();
    }
</script>
{% endblock %}