{% extends 'admin_base.html' %}

{% block title %}
    Admin Orders
{% endblock %}

{% block content %}
    <table border="1" id="ordertable">
        <tr>
            <th onclick="sortTable(0)">ID</th>
            <th onclick="sortTable(1)">Time</th>
            <th onclick="sortTable(2)">Check</th>
            <th onclick="sortTable(3)">Status</th>
            <th onclick="sortTable(4)">Person ID</th>
            <th onclick="sortTable(5)">Address</th>
            <th onclick="sortTable(6)">Comment</th>
            <th onclick="sortTable(7)">Author</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.id_order }}</td>
            <td>{{ order.time }}</td>
            <td>{{ order.check }}</td>
            <td>
                <select onchange="changeOrderStatus(this.value, {{ order.id_order }})">
                    <option value="accepted" {% if order.status == 'accepted' %} selected {% endif %}>Accepted</option>
                    <option value="cooking" {% if order.status == 'cooking' %} selected {% endif %}>Cooking</option>
                    <option value="delivering" {% if order.status == 'delivering' %} selected {% endif %}>Delivering</option>
                    <option value="delivered" {% if order.status == 'delivered' %} selected {% endif %}>Delivered</option>
                </select>
            </td>
            <td>{{ order.id_person }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.comment }}</td>
            <td>{{ order.author }}</td>
            <td>
                <a href="#" onclick="deleteOrder({{ order.id_order }})">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <script>
        function changeOrderStatus(newStatus, orderId) {
            var xhr = new XMLHttpRequest();
            var url = '/admin/orders/update_status/' + orderId + '/' + newStatus;
            xhr.open('GET', url, true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    window.location.href = '/admin/orders';
                } else {
                    console.error('Failed to change order status');
                }
            };
            xhr.send();
        }

        function deleteOrder(orderId) {
        var xhr = new XMLHttpRequest();
        var url = '/admin/orders/delete/' + orderId;
        xhr.open('GET', url, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                window.location.href = '/admin/orders';
            } else {
                console.error('Failed to delete order');
            }
        };
        xhr.send();
    }
</script>
{% endblock %}