{% extends 'admin_base.html' %}

{% block title %}
    Admin Users
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <table class="table table-sm" style="width: 80%" border="1" id="ordertable">
        <thead class="thead-dark">
            <tr>
                <th onclick="sortTable(0)">ID</th>
                <th onclick="sortTable(1)">Name</th>
                <th onclick="sortTable(2)">Email</th>
                <th onclick="sortTable(3)">Role</th>
                <th onclick="sortTable(4)">Person ID</th>
                <th onclick="sortTable(5)">Phone</th>
            </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <select class="form-select form-select-lg ml-3" onchange="changeUserRole(this.value, {{ user.id }})">
                    <option value="user" {% if user.role == 'user' %} selected {% endif %}>User</option>
                    <option value="admin" {% if user.role == 'admin' %} selected {% endif %}>Admin</option>
                </select>
            </td>
            <td>{{ user.phone }}</td>
            <td>
                <a class="btn btn-danger" href="#" onclick="deleteUser({{ user.id }})">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

     <script>
        function changeUserRole(newRole, userId) {
            var xhr = new XMLHttpRequest();
            var url = '/admin/users/change_role/' + userId + '/' + newRole;
            xhr.open('GET', url, true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    window.location.href = '/admin/users';
                } else {
                    console.error('Failed to change user role');
                }
            };
            xhr.send();
        }

        function deleteUser(userId) {
        var xhr = new XMLHttpRequest();
        var url = '/admin/users/delete/' + userId;
        xhr.open('GET', url, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Redirect to the admin page after successful deletion
                window.location.href = '/admin';
            } else {
                console.error('Failed to delete user');
            }
        };
        xhr.send();
    }
    </script>
{% endblock %}