{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="static/menu.css" type="text/css" />
    <h1>Ваша корзина</h1>
    <ul>
    {% if is_empty == False %}
        <li>Ваша корзина пуста</li>
        <form action="/" method="get">
            <input type="submit" value="Вернуться в меню">
        </form>
    {% else %}
        {% for product_id, product_info in products.items() %}
            <li>{{ product_info.product.name }} - {{ product_info.product.price }} руб. Количество: {{ product_info.quantity }}</li>
            <form action="/decrease_quantity_cart" method="post">
                <input type="hidden" name="product_id" value="{{ product_id }}">
                <input type="submit" value="-">
            </form>
            <form action="/increase_quantity_cart" method="post">
                <input type="hidden" name="product_id" value="{{ product_id }}">
                <input type="submit" value="+">
            </form>
            <form action="/remove_from_cart" method="post">
                <input type="hidden" name="product_id" value="{{ product_id}}">
                <input type="submit" value="удалить">
            </form>
        {% endfor %}
        </ul>
        <b>Итого: {{ total_cost }}</b>
        {% set products_string = "" %}
        {% for product_id, product_info in products.items() %}
            {% set products_string = products_string + product_id|string + ':' + product_info.quantity|string + '|' %}
        {% endfor %}
        <form action="/pay_cart" method="get">
                <input type="hidden" name="products" value="{{ products_string[:-1] }}">
                <input type="hidden" name="total_cost" value="{{ total_cost }}">
                <input type="submit" value="Заказать">
        </form>
    {% endif %}
{% endblock %}