{% extends 'admin_base.html' %}

{% block title %}
    Edit Product
{% endblock %}

{% block content %}
    <h2>Edit Product</h2>
    <form method="POST" action="{{ url_for('edit_product', product_id=product_id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.price.label }}
            {{ form.price(class="form-control") }}
            {% for error in form.price.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.ingridients.label }}
            {{ form.ingridients(class="form-control") }}
            {% for error in form.ingridients.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.size.label }}
            {{ form.size(class="form-control") }}
            {% for error in form.size.errors %}
                <span >{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.mass.label }}
            {{ form.mass(class="form-control") }}
            {% for error in form.mass.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <button type="submit">Update</button>
    </form>
{% endblock %}