{% extends "base.html" %}

{% block content %}
    <h1>Menu</h1>
    <hr>
    {% for product in products %}
    <div>
        <h2>{{ product.name }}</h2>
        <p>Ингридиенты: {{ product.ingridients }}</p>
        <p>Цена: {{ product.price }} руб.</p>
        <form action="/add_to_cart" method="post">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="submit" value="Добавить в корзину">
        </form>
    </div>
    {% endfor %}
{% endblock %}