{% extends "base.html" %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function() {
                setInterval(function() {
                    $.ajax({
                        url: "/get_order_status",
                        type: "GET",
                        success: function(data) {
                            $("#order-status").text(data.status);
                        },
                        error: function() {
                            alert("Error occurred while fetching order status.");
                        }
                    });
                }, 30000);
            });
        </script>
{% endblock %}
{% block content %}

<link rel="stylesheet" href="static/menu.css" type="text/css" />
    <div class="d-flex justify-content-center">
        <h1>Статус заказа: <span id="order-status">{{ status_order }}</span></h1>
    </div>
    <div class="d-flex justify-content-center">
    <img src="static/pizza_loading.gif">
    </div>


{% endblock %}