{% extends "base.html" %}

{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=3a339d32-e870-4a5e-8060-0ad31f438001"
            type="text/javascript"></script>
    <script src="../static/mapbasics.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <form name="MyForm" action="" method="post" onsubmit="return validateForm()"  novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.payment_method.label }}<br>
            {% for subfield in form.payment_method %}
                <tr>
                    {% if user.pay_method == subfield.data %}
                        <td>{{ subfield(checked=True) }}</td>
                    {% else %}
                        <td>{{ subfield() }}</td>
                    {% endif %}
                    <td>{{ subfield.label }}</td>
                    <br>
                </tr>
            {% endfor %}
            {% for error in form.payment_method.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=50, id='suggest') }}
            <span id="message" style="color: red;"></span>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <br>
            {{ form.entrance.label }} {{ form.door_code.label }}<br>
            {{ form.entrance(size=3) }} {{ form.door_code(size=3) }}<br>
            {{ form.floor.label }} {{ form.apartment.label }}<br>
            {{ form.floor(size=3) }} {{ form.apartment(size=3) }}<br>
            <div id="map" style="width: 500px; height: 300px"></div>
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(class='time') }}<br>
            <div id="delivery_time"></div>
        </p>
        <p>
            {{ form.comment.label }}<br>
            {{ form.comment(size=100) }}<br>
            {% for error in form.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        // Targeting the SelectField by its class
        $('.time').change(function() {
            var time = $(this).val(); // This will give us the selected value
            $.ajax({
                url: "/get_delivery_times",
                type: "POST",
                data: {time: time},
            }).done(function(data) {
                $('#delivery_time').text(data.delivery_time); // Display the response

            });
        });
    });
    </script>
    <script>
    function validateForm() {
        // Проверяем, есть ли текст в элементе message
        if ($('#message').text().trim()) {
            return false; // Предотвращаем отправку формы
        }
        return true;
    } // Продолжаем отправку формы
    </script>

{% endblock %}