{% extends "base.html" %}

{% block content %}


    <form name="MyForm" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.payment_method.label }}<br>
            {{ form.payment_method() }}<br>
            {% for error in form.payment_method.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=50) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.time.label }}<br>
            {{ form.time(class='time') }}<br>
            <div id="delivery_time"></div>
        </p>
        <p>
            {{ form.comment.label }}<br>
            {{ form.comment(size=100) }}<br>
            {% for error in form.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        // Targeting the SelectField by its class
        $('.time').change(function() {
            var time = $(this).val(); // This will give us the selected value
            $.ajax({
                url: "/get_delivery_times",
                type: "POST",
                data: {time: time},
            }).done(function(data) {
                $('#delivery_time').text(data.delivery_time); // Display the response

            });
        });
    });
    </script>

{% endblock %}