{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="static/menu.css" type="text/css" />
    <div class="container">
        <div class="column">
            <h1>{{ current_user.name }}</h1>
            <div>Роль: {{ current_user.role }}</div>
            <div>Ваш email: {{ current_user.email }}</div>
            <div>Ваш телефон: {{ current_user.phone }}</div>
            <br>
            <h2>Редактировать данные:</h2>
            <form action="/submit" method="post">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name"><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email"><br>

                <label for="phone">Телефон:</label>
                <input type="text" id="phone" name="phone"><br>

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password"><br>

                <input type="submit" value="Сохранить">
            </form>
            <br>
            <br>
            <a href="{{ url_for('logout') }}">Выйти</a>
        </div>
        <div class="column">
            <h1>Ваши заказы:</h1>
            {% for order in orders %}
            {% if current_user.id == order.id_person %}
                {% if order.status == "Принято" %}
                    <div class="accepted">
                        Заказ #{{ order.id_order}} от {{ order.time}} по адресу {{ order.address}}. Cтатус заказа: {{ order.status}}
                    </div>
                    <div class="check">Чек</div>
                    <br>
                {% endif %}
                {% if order.status == "Готовится" %}
                    <div class="cooking">
                        Заказ #{{ order.id_order}} от {{ order.time}} по адресу {{ order.address}}. Cтатус заказа: {{ order.status}}
                    </div>
                    <div class="check">Чек</div>
                    <br>
                {% endif %}
                {% if order.status == "Доставляется" %}
                    <div class="delivering">
                        Заказ #{{ order.id_order}} от {{ order.time}} по адресу {{ order.address}}. Cтатус заказа: {{ order.status}}
                    </div>
                    <div class="check">Чек</div>
                    <br>
                {% endif %}
                {% if order.status == "Доставлено" %}
                    <div class="delivered">
                        Заказ #{{ order.id_order}} от {{ order.time}} по адресу {{ order.address}}. Cтатус заказа: {{ order.status}}
                    </div>
                    <div class="check">Чек</div>
                    <br>
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}