{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="static/menu.css" type="text/css" />
    <div style="margin-bottom: 20px; margin-left: 10%;">
        <h1>Сумма заказа: {{ check_price }} Руб.</h1>
    </div>

    <div class="row justify-content-center">
        <table class="table table-sm" style="width: 80%" border="1" id="ordertable">
            <thead class="thead-light">
                <tr>
                    <th>Блюдо</th>
                    <th>Количество</th>
                    <th>Добавить</th>
                </tr>
            </thead>
            {% for product in products_dir %}
            <tr>
                <td>{{ product }}</td>
                <td>{{ products_dir[product] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}